html {
  font-size: 16px;
}

body {
  font-family: "Proxima Nova";
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.button {
  border: 1px solid #9B9B9B;
  padding: .7rem 1.25rem;
  border-radius: .3rem;
  outline: none;
  background: white;
  color: #9B9B9B;
}

nav.navbar.navbar-default {
  background: transparent;
  min-height: 70px;
  .container-fluid {
    margin-top: 10px;
    font-size: 1.0rem;
    a {
      color: #9b9b9b;
      text-decoration: none;
      &:hover {
        color: #50a7c7;
      }
    }
    .navbar-brand {
      font-size: 1.6rem;
      color: #333233;
      text-decoration: none;
      &:hover {
        color: #50a7c7;
      }
    }
  }
}
