#post_show {
  padding-top: 2rem;
	.post_image_body {
		margin-left: 20px;
		margin-right: 20px;
	}
	#post_data {
    width: 80%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
		.button {
			width: 100%;
			display: inline-block;
			padding: .75rem 0;
			margin-bottom: 1rem;
			text-align: center;
			text-decoration: none;
			color: #969696;
			&:hover {
				color: #50A7C7;
				border: 1px solid #50A7C7;
			}
		}
		.data {
			width: 100%;
			display: block;
			padding: .75rem 0;
			border-bottom: 1px solid #E9E9E9;
			text-decoration: none;
			color: #969696;
			margin: 0;
		}
	}
	#other_posts {
		width: 80%;
		margin-left: 20px;
		margin-left: 20px;
		margin-top: -3.2rem;
		float: left;
		h3 {
			font-size: 1rem;
		}
		.post {
			background: #F8F9FA;
			border: 1px solid #E4E4E4;
			border-radius: 0.3rem;
			.post_image {
				height: 200px;
				overflow: hidden;
				img {
					width: 100%;
					border-radius: .3rem .3rem 0 0;
				}
			}
			.post_content {
				h2 {
					margin: 0;
					font-weight: 100;
					padding: 1rem 5%;
					border-bottom: 1px solid #E4E4E4;
					font-size: 1.25rem;
					a {
						text-decoration: none;
						color: #333233;
						&:hover {
							color: #50A7C7;
						}
					}
				}
				.data {
					padding: .75rem 5%;
					color: #969696;
					.username, .buttons {
						margin: 0;
						font-size: .8rem;
					}
					.username {
						float: left;
					}
					.buttons {
						float: right;
						span {
							margin-left: .5rem;
						}
					}
				}
			}
		}
	}
	h1 {
		margin: 0;
		color: #333233;
	}
	img {
		width: 100%;
		border-radius: .3rem;
	}
	.username {
		color: #969696;
		margin: 0 0 1.5rem 0;
	}
	.description {
		margin: 2rem 0;
		font-size: 1.1rem;
		line-height: 1.5;
		color: #969696;
	}
}

#responses {
  margin-top: 30px;
	padding-bottom: 4rem;
  .wrapper {
		border-bottom: 1px solid #E9E9E9;
  	.response_count {
      bottom: .5rem;
  		margin-bottom: 0;
  	}
  }
  p {
    margin-top: 30px;
  }
	.response {
		padding: 2rem 0;
    .wrapper {
  		border-bottom: 1px solid #E9E9E9;
      .username {
        .batables {
          text-align: right;
        }
      }
      .content {
  			margin: 0;
  			color: #969696;
  		}
    }
	}
}
